html {
  font-family: sans-serif;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  min-width: 230px;
  height: 100%;
  border-right: 2px solid;
  background-color: white;
  overflow: hidden;
}

nav header {
  font-size: 0.8rem;
  padding-left: 8px;
}

main {
  margin-left: 250px;
}

/* Formatting code snippets */

code {
  background-color: #f8f8f6;
}

.indent {
  padding-left: 20px;
}

.string {
  color: orange;
}

.comment {
  color: darkgray;
}

.selector {
  color: cornflowerblue;
}

.property {
  color: mediumpurple;
}

.number {
  color: mediumseagreen;
}

.value {
  color: darkorange;
}

img {
  width: 100%;
  height: auto;
  max-width: 500px;
}

.term {
  font-style: italic;
}

footer {
  margin-left: 250px;
}

@media (max-width: 768px) {
  nav {
    position: absolute;
    width: 1px;
    height: 1px;
    margin-left: -1px;
  }
  main {
    margin-left: 0;
  }
}
