* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.gallery-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
}

.gallery-wrapper figure img {
  max-width: 400px;
}
