:root {
/* CSS HEX */
--indigo-dye: #004777ff;
--turkey-red: #a30000ff;
--safety-orange: #ff7700ff;
--peach-yellow: #efd28dff;
--verdigris: #00afb5ff;

/* CSS HEX */
--selective-yellow: #fbaf00ff;
--gold: #ffd639ff;
--salmon-pink: #ffa3afff;
--honolulu-blue: #007cbeff;
--pigment-green: #00af54ff;

/* CSS HEX */
--azul: #246eb9ff;
--dark-pastel-green: #4cb944ff;
--violet-jtc: #632a50ff;
--smoky-black: #0f1108ff;
--red: #ff1b1cff;
--french-gray: #C9CAD9;
}

* {
  box-sizing: border-box;
}

html {
	background-color: var(--french-gray);
}

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

header, footer {
	color: var(--violet-jtc);
	text-align: center;
}

main {
	background-color: var(--violet-jtc);
	color: var(--french-gray);
	width: 60%;
	min-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
	line-height: 1.6;
}

#choices {
	/* background-color: var(--safety-orange); */
	/* border: 2px solid var(--turkey-red); */
	text-align: center;
	padding: 6px;
}

#choices h2 {
	text-align: left;
	margin: 6px;
	color: var(--french-gray);
}

button {
	border: 2px solid var(--azul);
	border-radius: 8px;
	background-color: var(--dark-pastel-green);
	color: var(--smoky-black);
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
