/* hex code for 
ultramarine blue: 120A8F 
gold FFD700
*/
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'UnderWorld';
  src: url('UnderWorld.eot');
  src: url('UnderWorld.eot?#iefix') format('embedded-opentype'),
      url('UnderWorld.woff2') format('woff2'),
      url('UnderWorld.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #120A8f;
  color: white;
  font-family: 'Garamond';
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

header, h1, h2, h3, h4 {
  color: #FFD700;
  font-family: 'UnderWorld', 'Brush Script MT';
  margin: 0;
}

h2, h3, h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.version {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: 400;
}

main {
  display: grid;
  grid-template-columns: 300px 300px 300px;
}

.announcement p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  padding: 4px;
  background-color: #FFD700;
  font-family: 'Garamond';
  border-color: #FFEA70;
  border-radius: 2px;
}

button:disabled {
  opacity: 0.8;
}

.research-button {
  background-color: #FFD700;
  display: block;
  height: 60px;
  width: 275px;
  margin-bottom: 6px;
}

.hidden {
  display: none;
}

select {
  padding: 4px;
  background-color: #FFD700;
  font-family: 'Garamond';
  border-color: #FFEA70;
  border-radius: 2px;
  width: 200px;
  margin-bottom: 6px;
}

.announcement {
  margin-top: 1rem;
}

#announcements-list {
  margin-top: 1rem;
  color: #FFD700;
}

#congrats-text {
  font-size: 1.5em;
}

@media only screen and (max-width: 899px) {
  main { grid-template-columns: 300px 300px;}
}

@media only screen and (max-width: 599px) {
  main { grid-template-columns: 300px; }
}
