/* hex code for 
ultramarine blue: 120A8F 
gold FFD700
*/
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'UnderWorld';
  src: url('UnderWorld.eot');
  src: url('UnderWorld.eot?#iefix') format('embedded-opentype'),
      url('UnderWorld.woff2') format('woff2'),
      url('UnderWorld.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #120A8f;
  color: white;
  font-family: 'Garamond';
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

header, h1, h2, h3, h4 {
  color: #FFD700;
  font-family: 'UnderWorld', 'Brush Script MT';
  margin: 0;
}

h2, h3, h4 {
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

.version {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: 400;
}

main {
  display: grid;
  grid-template-columns: 300px 300px 350px;
}

.balance {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

button {
  padding: 4px;
  background-color: #FFD700;
  font-family: 'Garamond';
  border-color: #FFEA70;
  border-radius: 2px;
  margin-bottom: 0.7em;
}

button:disabled {
  opacity: 0.8;
}

#expeditions-div {
  margin-top: 1em;
}

.research-button {
  background-color: #FFD700;
  display: block;
  height: 60px;
  width: 275px;
  margin-bottom: 6px;
}

.hidden {
  display: none;
}

select {
  padding: 4px;
  background-color: #FFD700;
  font-family: 'Garamond';
  border-color: #FFEA70;
  border-radius: 2px;
  width: 200px;
  margin-bottom: 6px;
}

#launch-btn {
  margin-bottom: 0;
}

#expedition-progress {
  width: 100%;
  background-color: gray;
  margin-top: 1em;
}

#expedition-progress-bar {
  width: 1%;
  height: 20px;
  background-color: #FFD700;
}

.announcement {
  margin-top: 1rem;
  border: 2px solid #FFD700;
  padding: 6px;
}

.announcement p {
  margin-top: 4px;
  margin-bottom: 4px;
}

#announcements-list {
  margin-top: 1rem;
  color: #FFD700;
}

#congrats-text {
  font-weight: bold;
}

@media only screen and (max-width: 899px) {
  main { grid-template-columns: 300px 300px;}
}

@media only screen and (max-width: 599px) {
  main { grid-template-columns: 300px; }
}
